@page
@model Projekt_zaliczeniowy.Pages.FilmyModel
@{
    ViewData["Title"] = "Materiały Wideo";
}

<div class="container my-5">
    <div class="row text-center mb-4">
        <div class="col-md-8 mx-auto">
            <h1 class="display-5 fw-bold text-dark">Wyjaśnienia Zadań</h1>
        </div>
    </div>

    <div class="row g-4">
       
        
        <div class="col-md-6">
            <div class="card shadow border-0 rounded-3 overflow-hidden h-100">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/z5HFR7ayjL0" title="Mnożenie liczb całkowitych" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Mnożenie liczb całkowitych</h5>
                </div>
            </div>
        </div>

       
        <div class="col-md-6">
            <div class="card shadow border-0 rounded-3 overflow-hidden h-100">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/NkLOTuFOpuk" title="Rozwiązywanie ułamków" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Rozwiązywanie ułamków</h5>
                </div>
            </div>
        </div>

        
        <div class="col-md-6">
            <div class="card shadow border-0 rounded-3 overflow-hidden h-100">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/XxYHD8va23o" title="Mnożenie liczb całkowitych" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Mnożenie liczb całkowitych</h5>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow border-0 rounded-3 overflow-hidden h-100">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/5BsdKVJn9Wc" title="Mnożenie liczb całkowitych" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Mnożenie liczb całkowitych</h5>
                </div>
            </div>
        </div>
    </div>
</div>