@page
@model Projekt_zaliczeniowy.Pages.FilmyModel
@{
    ViewData["Title"] = "Materiały Wideo";
}

<div class="container my-5">
    <div class="row text-center mb-4">
        <div class="col-md-8 mx-auto">
            
            <h1 class="display-5 fw-bold text-dark">Wyjaśnienia Zadań</h1>
            
        </div>
    </div>

    <div class="row g-4">
       
        <div class="col-md-6">
            <div class="card shadow border-0 rounded-3 overflow-hidden">
                <div class="ratio ratio-16x9">
                    
                    <iframe src="https://www.youtube.com/embed/zys4LmGZgIk" title="Rozwiązywanie ułamków" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">Logarytmy</h5>
                    
                </div>
            </div>
        </div>
    </div>
</div>