@page
@model IndexModel
@{
    ViewData["Title"] = "O mnie - Korepetycje Matematyczne";
}

<div class="container my-5">
    <div class="row align-items-center p-5 bg-light rounded shadow-sm">
        <div class="col-md-4 text-center">
            <img src="~/images/profilowe.jpg" alt="Zdjęcie" class="img-fluid rounded border border-4 border-primary shadow" style="max-width: 250px;">
            </div>
            <div class="col-md-8">
                <h1 class="display-4 text-primary fw-bold">Cześć, jestem @Model.Imie!</h1>
                <p class="lead text-muted">@Model.Opis</p>
                <hr class="my-4">
                
            </div>
        </div>

        
    </div>