@page
@model IndexModel
@{
    ViewData["Title"] = "O mnie - Korepetycje Matematyczne";
}

<div class="container my-5">
    <div class="row align-items-center p-5 bg-light rounded shadow-sm">
        <div class="col-md-4 text-center">
            <img src="~/images/profilowe.jpg" alt="Zdjęcie" class="img-fluid rounded border border-4 border-primary shadow" style="max-width: 250px;">
            </div>
            <div class="col-md-8">
                <h1 class="display-4 text-primary fw-bold">Cześć, jestem @Model.Imie!</h1>
                <p class="lead text-muted">@Model.Opis</p>
                <hr class="my-4">
                
            </div>
        </div>

        <div id="oferta" class="row mt-5 text-center">
            <h2 class="mb-4 fw-bold">Co oferuje ta platforma?</h2>
        
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title text-success fw-bold">Indywidualne podejście</h5>
                        <p class="card-text">Dostosowuję tempo nauki do każdego ucznia. Tworzę bezstresową atmosferę sprzyjającą zadawaniu pytań.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title text-success fw-bold">Generator Zadań</h5>
                        <p class="card-text">Dla moich uczniów przygotowałem interaktywny trening rachunkowy, który pozwala szlifować tabliczkę mnożenia i bić własne rekordy serii!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm border-0">
                    <div class="card-body">
                        <h5 class="card-title text-success fw-bold">Panel Ucznia</h5>
                        <p class="card-text">Po zalogowaniu zyskujesz dostęp do swoich wyników, historii treningów oraz materiałów przygotowanych specjalnie dla Ciebie.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>